<div>
	<h2>Lassin muistuttaja</h2>
	<table>
		<tr>
			<th>Muistutus</th>
			<th>Deadline</th>
			<th>Kellonaika</th>
		</tr>
		<% Reminder.all.each do |reminder| %>
			<tr>
				<td><%= reminder.content %></td>
				<td><%= reminder.due_to %></td>
				<td><%= reminder.due_time %></td>
			</tr>
		<% end %>
	</table>
</div>
